//-codepen stuff
//-<span class="fa fa-codepen fa-2x"></span>
//-<span class="glyphicons glyphicons-glass"></span>

//-variables
- icon = "http://placehold.it/30x30"

doctype html
html
    include ./includes/head
    body
        //notes list / search / settings
        section#noteslist
            .head
                ul
                    li: span.glyphicon.glyphicon-notes
                    li: span.glyphicon.glyphicon-search
                    li: span.glyphicon.glyphicon-tag
                    li: span.glyphicon.glyphicon-cogwheel
            .newnote
                .btn New Note
            .body
                .note
                    h3 Note Title
                    p note snippet...
                    ul
                        li.tag Tag1
                        li.tag Tag2
        //note preview
        section#notespreview
            .head
                button
                ul
                    li.tag Tag1
                    li.tag Tag2
            .body
        
        //notes info
        section#notesinfo
            .head
                span.glyphicon.glyphicon-circle_info
                span.glyphicon.glyphicon-justify
                span.glyphicon.glyphicon-show_lines
            .body
                ul
                    li.btn Publish
                    li.btn Share
                    li.btn Delete
                    