//-notes-date
//-codepen stuff
//-<span class="fa fa-codepen fa-2x"></span>
//-<span class="glyphicons glyphicons-glass"></span>

//-variables
- icon = "http://placehold.it/30x30"

doctype html
html
    include ./includes/head
    body
        //notes list / search / settings panel
        section#panel
            #tabs.header
                ul
                    li.selected
                        a(href="#")
                            span.fa.fa-file-text-o
                            span.tooltiptext Notes
                    li
                        a(href="#")
                            span.fa.fa-tags
                            span.tooltiptext Tags
                    li
                        a(href="#")
                            span.fa.fa-cog
                            span.tooltiptext Preferences
                    li
                        a(href="#")
                            span.fa.fa-trash-o
                            span.tooltiptext Trash
            #notes.currentpanel
                .tools
                    .newnote New Note
                    .sort Sort
                        span.fa.fa-caret-down
                .body
                    // .note.selected
                    //     h3 Note Title ippet ksldjf lsk sdlfks 
                    //     p note snippet ksldjf lsk djflssldkjf laks dlfaksj dflkasjdflkas djflaks ...
                    //     ul
                    //         li.tag: span Work1234560
                    //         li.tag: span programming
                    //         li.tag: span development
                    .note
                        h3 Note Title something else goes ehre
                        p something here.
                        span.date Jul 4, 2015
                        span.action.fa.fa-trash-o
                        span.action.fa.fa-envelope-o
                    .note.selected
                        h3 Note Title something else goes ehre
                        p something here lkasjdf;kas lkj;adadsf.
                        span.date Jul 4, 2015
                        span.action.fa.fa-trash-o
                        span.action.fa.fa-envelope-o
                .tools
                    input(type="text")
            // #tags
            // #settings        
        section#edit
            #tags.header
                ul
                    li.menu-toggle: span.fa.fa-bars
                    li.tag: span Add tag
                    li.tag: span Ideas
                    li.tag: span Work
                    li.tag: span Work1
                    li.tag: span Work2
                    li.tag: span Work3
                    li.tag: span Work4
                    li.tag: span Work5
                    // li.tag: span Work6
                    // li.tag: span Work7
                    // li.tag: span Work8
                    // li.tag: span Work9
                    // li.tag: span Work10
                    // li.tag: span Work11
                    // li.tag: span Work1112
            .body
                input(placeholder="Add a title...")
                div.content(contenteditable="true" data-text="Enter text here")
            #actions-sidebar
                ul
                    li: span.action.fa.fa-floppy-o
                    li: span.action.fa.fa-envelope-o
                    li: span.action.fa.fa-trash-o
                    