doctype html
html
    include ./includes/head
    body(ng-app="notepad")
        div(ng-view)
            // include ./partials/login
            include ./partials/app
        // include ./includes/scripts
