%reset {
    margin: 0;
    padding: 0;
}

%ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%spacer {
    border-bottom: 2px solid $notes-spacer;
}

* {
    // -webkit-transition: margin 200ms linear;
    //    -moz-transition: margin 200ms linear;
    //         transition: margin 200ms linear;
    @extend %reset;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

html {
    font-size: 14px;
    font-family: $font-main;
    color: #343434;
    overflow: hidden;
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.tag {
    margin: 0.3em 0.3em 0.2em 0;
    border-radius: 13px;
    height: 23px;
    border: 2px solid $notes-tag-border;
    color: $notes-tag-name;
    background-color: transparent;
    min-width: 42px;
    width: auto;
    text-align: center;
    display: inline-block;
    line-height: 0.85em;
    font-size: 0.85rem;
    
    .selected {
        border: 2px solid $notes-tag-border-selected; 
        color: $notes-tag-name-selected;
    }
    
    span {
        display: inline-block;
        margin: 0.59em 1.42em 0;
    }
}

.header {
    height: $nav-height;
}

#panel {
    background-color: $bg-color-1;
    width: $nav-width*4;
    height: 100vh;
    float: left;
    
    #tabs {
        background-color: $bg-color-2;
        li {
            float: left;
            width: $nav-width;
            height: $nav-height;
            font-size: 22px;
            text-align: center;
            position: relative;
            &.selected {
                span {
                    color: $white;
                }
                background-color: $bg-color-1;
            }
            .fa {
                color: #cdcdcf;
                margin-top: 23px;
                &:hover {
                    color: $white;
                }
            }
            .tooltiptext {
                visibility: hidden;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 4px 6px;
                border-radius: 3px;
                font-size: 0.48em;
                position: absolute;
                top: 10px;
                left: 45px;
                z-index: 10;
                transition-property: visibility;
            }
            a:hover .tooltiptext {
                visibility: visible;
                transition-delay: 650ms;
            }
        }
    }
    
    .body {
        overflow-y: scroll;
        height: calc(100vh - #{$nav-height} - #{$tools-height} - 26px);
    }
    .currentpanel {
        display: block !important;
    }
    
    #notes {
        display: none;
        .tools {
            text-align: center;
            padding: 12px;
            height: $tools-height;
            @extend %spacer;
            &:last-of-type {
                border-top: 1px solid $notes-spacer;
            }
            .newnote {
                @include borderbox;
                height: 30px;
                width: 100px;
                float: right;
                border-radius: 5px;
                background-color: $special-button;
                color: $white;
                text-align: center;
                cursor: pointer;
                padding-top: 0;
                font-size: 0.9rem;
                font-weight: 400;
                // font-family: 'Roboto Mono';
                line-height: 29px;
                
                &:hover {
                    background-color: darken($special-button, 6%);
                }
            }
            .sort {
                cursor: pointer;
                float: left;
                color: $white;
                margin-top: 5px;
                span {
                    margin: auto 6px;
                }
            }
            input {
                @include borderbox;
                padding: 8px 13px;
                width: 100%;
                border: 0;
                border-radius: 5px;
                background-color: #EAEAEA;
                height: 30px;
                color: #302F31;
                font-size: 1.12rem;
                outline: none;
                border-bottom: 1px solid lighten($bg-color-1, 35%);
                display: inline-block;
                &:focus {
                    background-color: #d9e8f9;
                }
            }
            @include clearfix;
        }
    }
    
    .note {
        cursor: pointer;
        height: 74px;
        @extend %spacer;
        padding: 10px 14px;
        margin: 0;
        color: $notes-excerpt;
        h3 {
            font-size: 1.2rem;
            margin-bottom: 5px;
            color: $notes-title;
            font-weight: bold;
            padding-right: 12px;
            @extend %ellipsis;
        }
        p {
            margin: 7px 0;
            padding-right: 12px;
            @extend %ellipsis;
        }
        .date {
            margin: 2px 0 0;
            float: left;
            font-size: 0.9rem;
        }
        .action {
            margin: 0 2px 0 15px;
            float: right;
            font-size: 1.3em;
            visibility: hidden;
            &:hover {
                color: $white;
            }
        }
        &.selected {
            background-color: darken($bg-color-1, 20%);
            &:hover {
                background-color: darken($bg-color-1, 20%) !important;
            }
        }
        &:hover {
            background-color: darken($bg-color-1, 7%);
            .action {
                visibility: visible;
            }
        }
    }
}

#edit {
    height: 100vh;
    width: 100%;
    background-color: $default-bg-preview-body;
    color: $default-preview-text-color;
    #tags {
        background-color: $default-bg-preview-header;
        .menu-toggle {
            width: 60px;
            height: $nav-height;
            float: left;
            span {
                cursor: pointer;
                font-size: 24px;
                color: #767676;
                line-height: $nav-height;
                margin: auto 20px;
            }
        }
        ul {
            @include borderbox;
            padding-top: 15px;
            float: left;
            height: $nav-height;
            max-width: calc(100% - #{$notespanel-width} - #{$actions-sidebar-width} - 65px);
            @extend %ellipsis;
            li {
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    .body {
        font-family: $font-editor;
        overflow-y: auto;
        float: left;
        width: calc(100% - #{$notespanel-width} - #{$actions-sidebar-width});
        input {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-size: 1.45rem;
            padding: 18px 56px 0;
            width: 100%;
            height: $input-title-height;
            border: 0;
            font-weight: 500;
            outline: none;
            overflow: none;
            box-shadow: none;
            background-color: $white;
        }
        .content {
            font-size: 1.1rem;
            padding: 14px 56px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            resize: none;
            height: calc(100vh - #{$nav-height} - #{$input-title-height});
            outline: none;
            overflow: none;
            box-shadow: none;
            background-color: $white;
            border: 0;
            cursor: text;
        }
        [contentEditable=true]:empty:before{
            content: attr(data-text);
            color: #b1a9a9;
        }
    }
    #actions-sidebar {
        float: right;
        width: $actions-sidebar-width;
        height: calc(100vh - #{$nav-height});
        background-color: $bg-info-body;
        li {
            text-align: center;
            margin: 15px auto 10px;
            display: table;
        }
        span {
            cursor: pointer;
            @include borderbox;
            text-align: center;
            padding: 8px;
            border-radius: 50%;
            height: 44px;
            width: 44px;
            font-size: 21px;
            line-height: 1rem;
            background-color: $white;
            border: 1px solid #dcdcdc;
            color: $blue;
            vertical-align: middle;
            display: table-cell;
            margin: 0 auto;
            &:hover {
                background-color: $blue;
                border-color: $blue;
                color: $white;
            }
        }
    }
}
