%reset {
    margin: 0;
    padding: 0;
}

%ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

%spacer {
    border-bottom: 2px solid $notes-spacer;
}

* {
    // -webkit-transition: margin 200ms linear;
    //    -moz-transition: margin 200ms linear;
    //         transition: margin 200ms linear;
    @extend %reset;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}

html {
    font-size: 14px;
    font-family: $font-main;
    color: #343434;
    background-color: $baby-blue;
}

.app-container {
    max-width: 1300px;
    margin: 20px auto;
    min-height: 500px;
    overflow: hidden;
    box-shadow: 0 4px 12px #545454;
    @include mobile {
        margin: 0 auto;
        height: 100vh;
    }
    @include desktop {
        margin: 20px auto;
        height: calc(100vh - 40px);
    }
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.tag {
    margin: 0.3em 0.3em 0.2em 0;
    border-radius: 13px;
    height: 23px;
    border: 2px solid $notes-tag-border;
    color: $notes-tag-name;
    background-color: transparent;
    min-width: 42px;
    width: auto;
    text-align: center;
    display: inline-block;
    line-height: 0.85em;
    font-size: 0.85rem;
    
    .selected {
        border: 2px solid $notes-tag-border-selected; 
        color: $notes-tag-name-selected;
    }
    
    span {
        display: inline-block;
        margin: 0.59em 1.42em 0;
    }
}

.header {
    height: $header-height;
}

#panel {
    background-color: $bg-color-1;
    width: $panel-width;
    height: 100%;
    float: left;
    
    #tabs {
        background-color: $bg-color-2;
        li {
            float: left;
            width: $nav-width;
            height: $header-height;
            font-size: 22px;
            text-align: center;
            position: relative;
            &.selected {
                span {
                    color: $white;
                }
                background-color: $bg-color-1;
            }
            .fa {
                color: #cdcdcf;
                margin-top: 23px;
                &:hover {
                    color: $white;
                }
            }
            .tooltiptext {
                visibility: hidden;
                background-color: black;
                color: #fff;
                text-align: center;
                padding: 4px 6px;
                border-radius: 3px;
                font-size: 0.48em;
                position: absolute;
                top: 10px;
                left: 45px;
                z-index: 10;
                transition-property: visibility;
            }
            a:hover .tooltiptext {
                visibility: visible;
                transition-delay: 650ms;
            }
        }
    }
    
    .body {
        overflow-y: scroll;
        height: calc(100vh - #{$header-height} - #{$sub-header-height} - 42px);
    }
    .currentpanel {
        display: block !important;
    }
    
    #noteslist {
        display: none;
        .tools {
            text-align: center;
            height: $sub-header-height;
            @extend %spacer;
            &:last-of-type {
                border-top: 1px solid $notes-spacer;
            }
            .newnote {
                @include borderbox;
                height: 30px;
                width: 120px;
                float: right;
                border-radius: 3px;
                background-color: $special-button;
                color: $white;
                text-align: center;
                cursor: pointer;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 29px;
                margin: 10px;
                &:hover {
                    background-color: darken($special-button, 6%);
                }
            }
            .sort {
                cursor: pointer;
                float: left;
                color: $white;
                margin-top: 5px;
                position: relative;
                span {
                    margin: auto 5px;
                }
                ul {
                    text-align: left;
                    display: none;
                    z-index: 20;
                    position: absolute;
                    height: 120px;
                    width: 130px;
                    background-color: $bg-default;
                    top: 22px;
                    font-size: 1.14rem;
                    color: $notes-title;
                    font-weight: bold;
                    line-height: 2.2rem;
                    border: 1px solid lighten($bg-default, 10%);
                    padding: 8px 13px;
                    box-shadow: 0 2px 17px 2px darken($bg-default, 30%);
                }
                &:hover {
                    ul {
                        display: block;
                    }
                }
            }
            // input {
            //     @include borderbox;
            //     padding: 8px 13px;
            //     width: 100%;
            //     border: 0;
            //     border-radius: 5px;
            //     background-color: #EAEAEA;
            //     height: 30px;
            //     color: #302F31;
            //     font-size: 1.12rem;
            //     outline: none;
            //     border-bottom: 1px solid lighten($bg-color-1, 35%);
            //     display: inline-block;
            //     &:focus {
            //         background-color: #d9e8f9;
            //     }
            // }
            @include clearfix;
        }
    }
    
    .note {
        cursor: default;
        height: 74px;
        @extend %spacer;
        padding: 10px 14px;
        margin: 0;
        color: $notes-excerpt;
        h3 {
            font-size: 1.2rem;
            margin-bottom: 5px;
            color: $notes-title;
            font-weight: bold;
            padding-right: 12px;
            @extend %ellipsis;
        }
        p {
            margin: 7px 0;
            padding-right: 12px;
            @extend %ellipsis;
        }
        .date {
            margin: 2px 0 0;
            float: left;
            font-size: 0.9rem;
        }
        .action {
            margin: 0 2px 0 15px;
            float: right;
            font-size: 1.3em;
            visibility: hidden;
            cursor: pointer;
            &:hover {
                color: $white;
            }
        }
        &.selected {
            background-color: darken($bg-color-1, 20%);
            &:hover {
                background-color: darken($bg-color-1, 20%) !important;
            }
        }
        &:hover {
            background-color: darken($bg-color-1, 7%);
            .action {
                visibility: visible;
            }
        }
    }
}

#edit {
    // position: relative;
    height: 100%;
    width: calc(100% - $panel-width);
    background-color: $default-bg-preview-body;
    color: $default-preview-text-color;
    #tags {
        background-color: $default-bg-preview-header;
        .menu-toggle {
            width: 60px;
            height: $header-height;
            float: left;
            span {
                cursor: pointer;
                font-size: 24px;
                color: #767676;
                line-height: $header-height;
                margin: auto 20px;
            }
        }
        ul {
            @include borderbox;
            padding-top: 15px;
            float: left;
            height: $header-height;
            max-width: calc(100% - #{$notespanel-width} - 65px);
            @extend %ellipsis;
            li {
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    #edit-body {
        font-family: $font-editor;
        overflow-y: hidden;
        float: left;
        height: calc(100% - #{$header-height});
        width: calc(100% - #{$notespanel-width});
        background-color: $white;
        input {
            @include borderbox;
            font-size: 1.45rem;
            padding: 0 56px;
            width: 100%;
            height: calc($sub-header-height + 2px);
            line-height: $sub-header-height;
            font-weight: 500;
            outline: none;
            overflow: none;
            box-shadow: none;
            border: 0;
            border-bottom: 2px solid $default-bg-preview-header;
        }
        textarea {
            font-size: 1.1rem;
            padding: 14px 56px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            resize: none;
            overflow-y: scroll;
            height: calc(100% - #{$header-height} + 14px);
            outline: none;
            overflow: none;
            box-shadow: none;
            background-color: $white;
            border: 0;
            cursor: text;
        }
        [contentEditable=true]:empty:before{
            content: attr(data-text);
            color: #b1a9a9;
        }
    }
    #actions-sidebar {
        float: right;
        width: $actions-sidebar-width;
        height: calc(100% - #{$header-height});
        background-color: $bg-info-body;
        li {
            text-align: center;
            margin: 15px auto 10px;
            display: table;
        }
        span {
            cursor: pointer;
            @include borderbox;
            text-align: center;
            padding: 8px;
            border-radius: 50%;
            height: 44px;
            width: 44px;
            font-size: 21px;
            line-height: 1rem;
            background-color: $white;
            border: 1px solid #dcdcdc;
            color: $blue;
            vertical-align: middle;
            display: table-cell;
            margin: 0 auto;
            &:hover {
                background-color: $blue;
                border-color: $blue;
                color: $white;
            }
        }
    }
}
