head
    title Kanso - Simple Notetaker
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description", content="Kanso is a minimalistic, no-nonsense note taker that you can use without the need of your mouse")
    
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:description" content="")
    
    link(rel="canonical" href="")
    link(rel="stylesheet" href="css/style.css")